@import "src/assets/styles/GlobalStyle";

.BlogListRightAsideComp {
  height: auto;
  width: $fullWidth;

  /*==== Search Box ====*/
  .search__wrapper {
    padding: 10px;
    background: $tertiaryColor;
    margin-bottom: 30px;

    .search__form {
      .input-and-button__wrapper {
        background: $colorWhite;
        border: none;
        border-radius: 50px;
        padding: 5px;
        display: flex;

        input {
          border: none;
          border-radius: 50px;

          &:focus {
            box-shadow: none;
          };
        };
        .search__button {
          background: none;
          border-radius: 50%;
          padding: 5px;
        };
      };
    };
  };


  /*==== Category Section ====*/
  .category__wrapper {
    padding: 20px;
    background: $tertiaryColor;
    margin-bottom: 30px;

    .section__title {
      font-family: 'Josefin Sans', sans-serif;
      border-bottom: 1px solid $secondaryColor;
      padding-bottom: 10px;
    };

    .category__list {
      margin-top: 25px;
      list-style-type: none;
      padding: 0;

      .category__list-item {
        padding: 7px 0;
        .link__wrapper {
          display: flex;
          align-items: center;

          p {
            margin: 0;
          };
        };
      };
    };
  };


  /*==== Recent Post Section ====*/
  .recent-post__wrapper {
    padding: 20px;
    background: $tertiaryColor;
    margin-bottom: 30px;

    .section__title {
      font-family: 'Josefin Sans', sans-serif;
      border-bottom: 1px solid $secondaryColor;
      padding-bottom: 10px;
    };

    .post-list_wrapper {
      margin-top: 35px;
      list-style-type: none;
      padding: 0;

      .post-list-item__wrapper {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        img {
          height: 70px;
          width: 100px;
          margin-right: 15px;
        };
        .post-detail__wrapper {
          height: auto;
          width: calc(100% - 100px);

          a {
            h5 {
              margin: 0;
              font-size: 1rem;
            };
          };
          p {
            margin: 0;
            font-size: 1rem;
          };
        };
      };
    };
  };


  /*==== Post tags Section ====*/
  .post-tag__wrapper {
    padding: 20px;
    background: $tertiaryColor;

    .section__title {
      font-family: 'Josefin Sans', sans-serif;
      border-bottom: 1px solid $secondaryColor;
      padding-bottom: 10px;
    };

    .tag-list__wrapper {
      margin-top: 35px;
      list-style-type: none;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      gap: 7px;

      .tag-list__item {
        background: $secondaryColor;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        font-size: 0.9rem;
        padding: 2px 10px;
      };
    };
  };
};
