/*====  Global Variables ====*/

//  Layout
$deviceHeight: 100vh;
$deviceWidth: 100vw;
$fullHeight: 100%;
$fullWidth: 100%;

//  Font Size
$heading: 2rem;
$subHeading: 1.6rem;
$fontSize: 1.1rem;

//  Colors
$primaryColor: #001156;
$secondaryColor: #f6f6f8;
$colorWhite: #ffffff;
$tertiaryColor: #efefef;
$linkColorHover: #9d9d9d;